name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@release-45
    with:
      jdk-matrix: '[ "17", "21", "24" ]'
      maven-matrix: '[ "4.0.0-rc-4" ]'
      maven-test: './mvnw clean verify -Prun-its -e -B -V -f its'

